body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
     margin: 0;
    color: white;
    display: flex;
    justify-content: center;
  }
.info{
  display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
}
h2{
  color: white;
  padding: 0 12vw 0 15vw;
  text-decoration-line: none;
}
.header{
  background-color: #1015ac;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px;
  width: 100%;
}
.data-heading{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.data{
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;;
}
.contact h3{
  color: black;
  display: flex;
  justify-content: center;
}
.userInfo{
   color: black;
   display: flex;
   flex-direction: column;
   text-align: center;
}
img{
  margin: auto;
  padding: auto;
}