body{
    margin: 0;
    padding: 0;
}
.redux{
    width: 100%;
    background-color: blue;
    height: 70px;
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}
.demos h1{
    text-align: center;
}
button{
    position: relative;
    left: 43rem;
    width: 5rem;
    /* margin-left: 5rem; */
    text-align: center;
}